$body-background-color: $white;
$sidebar-color: $grey-lt-000;
$search-background-color: $white;
$table-background-color: $white;
$code-background-color: $grey-lt-000;

$body-text-color: $grey-dk-100;
$body-heading-color: $grey-dk-300;
$search-result-preview-color: $grey-dk-000;
$nav-child-link-color: $grey-dk-100;
$link-color: $blue-300;
$btn-primary-color: $blue-100;
$base-button-color: #f7f7f7;

@font-face {
    font-family: 'Bookman ITC Lt BT';
    src: url('/CoolFonts/Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Bookman ITC Lt BT';
    src: url('/CoolFonts/LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Bookman ITC Lt BT';
    src: url('/CoolFonts/Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Bookman ITC Lt BT';
    src: url('/CoolFonts/RegularItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'Bookman ITC Lt BT';
    src: url('/CoolFonts/Bold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Bookman ITC Lt BT';
    src: url('/CoolFonts/BoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}
