{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit - {{ page_title }}
{% endblock %}

{% block body %}
    <form class="" action="" method="post">
      {% csrf_token %}
      <br>
      <h4>Title:</h4>
      <input class="title-input" type="text" name="page_title" placeholder="{{ page_title }}" readonly>
      <br><br>
      <h4>Content:</h4>
      <textarea id="content" name="page_content" rows="5" cols="100">{{ page_content }}
      </textarea>
      <br><br>
      <button type="submit" class="btn btn-primary" formaction="{% url 'update_page' title=page_title operation='save' %}">Save</button>
      <button type="submit" class="btn btn-primary" formaction="{% url 'update_page' title=page_title operation='cancel' %}">Cancel</button>
    </form>
{% endblock %}
